// Config dialog
$fontFamily = 'Open Sans', sans-serif
$fontSize = 16px
$backgroundColor = #fff
$zIndexDialog = 1061
$fontColor = #333

//Config Overlay
$zIndexOverlay = 1060
$backgroundColorOverlay = #000
