/*
 * Dialogs for web and mobile.
 */

@import '_variables.styl'

.noscroll
	overflow: hidden

.dialog-overlay
	position: fixed
	z-index: $z-index-overlay
	top: 0
	left: 0
	right: 0
	height: 100%
	background-color: alpha($background-color-overlay, 0.5)
	// opacity: 0.5

.dialog
	width: 350px
	font-family: $font-family
	font-size: $font-size
	position: fixed
	z-index: $z-index-dialog
	background-color: $background-color
	border-radius: 4px
	color: $font-color
	display: none

	&.dialog-full
		width: calc(100% - 30px);
	@media screen and (max-width: 450px)
		width: 90%

	.dialog-header
		display: flex
		padding: 15px
		font-size: 0.875em
		font-weight: 600

		.dialog-header-title
			flex-grow: 1

	.dialog-close
		// display: inline-flex
		display: block
		position: absolute
		padding: 15px
		right: 0
		top: 0
		width: 20px
		height: 20px

		&:before
			content: ""
			position: absolute
			display: block
			margin: auto
			left: 0
			right: 0
			top: 0
			bottom: 0
			width: 20px
			height: 0
			border-top: 2px solid rgba(0,0,0,0.4)
			transform: rotate(45deg)
			transform-origin: center

		&:after
			content: ""
			position: absolute
			display: block
			margin: auto
			left: 0
			right: 0
			top: 0
			bottom: 0
			width: 20px
			height: 0
			border-top: 2px solid rgba(0,0,0,0.4)
			transform: rotate(-45deg)
			transform-origin: center

	.dialog-body
		padding: 20px 15px
		font-size: 0.875em
		overflow-y: auto

	.dialog-footer
		padding-top: 15px
		display: flex
		border: none
		outline: 0px
		font-size: 0.875em

		.dialog-footer button
			&:hover, &:focus, &:active, &:click
				border:none
				-webkit-box-shadow:none
				box-shadow:none
				outline: 0
				outline-offset: 0

	.btn-flat.btn-block
		margin-bottom: 0px
		width: 100%

	.btn-flat
		width: 100%
		font-size: 0.9375em // 15px
		color: $font-color
		background: transparent
		font-weight: bold
		border: none
		outline: none
		padding: 12px

	&.dialog-help .dialog-header
		top: 0
		width: 100%

	&.dialog-help .dialog-body
		overflow-y: hidden

	&.dialog-help,
	&.dialog-full
		width: 95%

	.dialog-menu
		list-style: none
		margin: 0px
		padding: 0px

		li
			border: 1px solid $bd-dark
			padding: 15px
			border-radius: 4px
			margin-bottom: 15px
			cursor: pointer
