.dialog-overlay {
	position: fixed;
	z-index: 999;
	top: 0;
	left: 0;
	right: 0;
	height: 100%;
	opacity: 0.6;
	background-color: #000;
}

.dialog {
	font-size: 16px;
	width: 380px;
	position: fixed;
	z-index: 1001;
	background-color: #fff;
	border-radius: 3px;
}

.dialog .dialog-header {
	padding: 15px;
	font-size: 1em;
	font-weight: 600;
	border-bottom: 1px solid #e5e5e5;
}

.dialog .dialog-close {
	display: inline-flex;
}

.dialog .dialog-body {
	padding: 20px 15px;
	font-size: 0.875em;
	color: #444;
	overflow-y: auto;
}

.dialog .dialog-footer {
	border: none;
	outline: 0px;
	border-top: 1px solid #e5e5e5;
	text-align: center;
}

.dialog .dialog-footer:after {
	clear: both;
	display: table;
	content: " ";
}

.dialog .btn-flat.btn-block {
	margin-bottom: 0px;
	width: 100%;
	float: none;
}

.dialog .dialog-footer button {
	background: transparent;
	font-family: inherit;
	font-weight: bold;
	border:none;
	padding: 15px;
	font-size: 0.9375em;
	border: none;
  outline: none;
}

.dialog .btn-flat {
	float: left;
	width: 50%;
}

.dialog .btn-flat:hover, .btn-flat:focus, .btn-flat:active, .btn-flat:click {
	border:none;
	-webkit-box-shadow:none;
	box-shadow:none;
	outline: 0;
	outline-offset: 0;
}

.dialog-help .dialog-header {
	top: 0;
	width: 100%;
}

.dialog-help .dialog-body {
	overflow-y: hidden;
	padding-top: 15px;
	padding-bottom: 15px;
}

.dialog.dialog-help,
.dialog.dialog-full {
	width: 95%;
}

.dialog .dialog-menu {
	list-style: none;
	margin: 0px;
	padding: 0px;
}

.dialog .dialog-menu li {
	border: 2px solid #8e8e8e;
	padding: 15px;
	border-radius: 3px;
	margin-bottom: 15px;
}

.dialog .featured {
	text-align: center;
	margin-top: 7px;
	padding: 5px;
	border-radius: 4px;
}

.dialog .text-weight-300{
	font-weight: 300;
}

@media screen and (max-width: 480px) {
	.dialog {
		width: 90%;
		position: fixed;
		z-index: 1010;
		background-color: #fff;
		border-radius: 3px;
	}

	.dialog.dialog-help,
	.dialog.dialog-full {
		width: 95%;
	}

	.dialog .dialog-header {
		border-bottom: 1px solid #eee;
	}

	.dialog .dialog-body {
		padding-bottom: 15px;
		padding-top: 15px;
	}

	.dialog .dialog-footer {
		border-top: 1px solid #eee;
		padding-top: 0px;
	}
}

/* Flexbox class */
.flex {
	display: flex;
}
.grow {
	flex-grow: 1;
}
